<IfModule mod_rewrite.c>
    RewriteEngine On

    # Ensure the request is not a file or directory
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    # Remove /public from the URL
    RewriteRule ^(.*)$ /public/$1 [L]
</IfModule>
